@font-face {
  font-family: 'SF-Pro';
  src: url('../fonts/SF-Pro.ttf');
}

html {
  font-family: 'SF-Pro';
  background-color: rgb(235, 235, 235);
}

#root {
  height: 95vh;
}

link {
  text-decoration: none;
}