#screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  height: 45rem;
  width: 38rem;
}

.content {
  width: 38rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

#image:hover {
  opacity: 80%;
}

#image {
  max-height: 25rem;
  max-width: 25rem;
}