#weather {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

#info {
  background-color: rgb(214, 214, 214);
  padding: 10rem;
  box-shadow: 2px 2px 10px grey;
  border-radius: 5px;
}