#about-main {
  background-image: url(./office-background.jpg);
  background-size: cover;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 42.3rem;
  width: 38rem;
}

#about-box {
  display: grid;
  grid-template-rows: 1.5rem 10rem 14rem 8rem;
  height: 35rem;
  width: 30rem;
  background-color: rgba(168, 168, 168, 0.95);
  border-radius: 15px;
  padding: 1rem;
  overflow: auto;
}

#profile-pic {
  max-height: 9rem;
  border-radius: 100px;
  align-content: center;
  box-shadow: 2px 3px 10px rgb(100, 100, 100);
}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  width: 30rem;
}

#article {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2rem 0 2rem;
  font-size: 16px;
}

#contact-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 0 1rem 0 1rem;
  border-radius: 15px;
  gap: 2px;
  box-shadow: 2px 3px 10px rgb(100, 100, 100);
}

#links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.link {
  text-decoration: none;
  color: black;
}

.link:hover {
  text-decoration: underline;
}